[Unit]
Description=DNS-IPSet server
Before=network.target

[Service]
Type=simple
WorkingDirectory=/opt/dns-ipset
ExecStart=/opt/dns-ipset/dns-ipset
Restart=always

[Install]
WantedBy=multi-user.target
